- content_for :head do
  %title
    = @page.page_title.blank? ? "The Skilled Samaritan" : @page.page_title
  %meta{name: "keywords", content: @page.meta_keywords}
  %meta{name: "description", content: @page.meta_description}

%h1
  = @page.name

= BlueCloth.new(@page.content).to_html.html_safe

= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', pages_path
