%p#notice= notice

%p
  %b Name:
  = @page.name
%p
  %b Meta tags:
  = @page.meta_tags
%p
  %b Meta keywords:
  = @page.meta_keywords

= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', pages_path
